{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}


<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-4 col-sm-6" >
			<br>

				<legend><B>Historia registrada en el campo</B> {{historia.pk}} </legend>
					<br>
						<legend><B>Tipo de estudio:</B> {{historia.TipoEstudio}}</legend>
					<br>
						<legend><B>Campo:</B></legend><p align="justify"><big>{{historia.Campo}}</big></p>
					<br>
						<legend><B>Conclusion:</B></legend><p align="justify"><big>{{historia.Conclusion}}</big></p>
					<br>

					<br>
					<br>
					<br>
					<br>
						<legend></legend>
						{% for hist in  historias_paciente%}
							<legend><B>Historia registrada en el campo</B> {{hist.pk}}</legend>
	
						{% endfor %}
        </div>
    </div>
</div>
{% endblock contenido %}