{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}




<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-4 col-sm-6" >
			<br>
			<h5>
			<label for="fechas">Historias anteriores:</label>
			<select id="fechas" onChange="cambiar(this)">
			{% for hist in  historias_paciente%}
						<option value="{{hist.pk}}">H{{hist.pk}} {{hist.Fecha_creacion}}</option>
						{{hist.pk}}
				{% endfor %}
				</select>
				</h5>


<script type="text/javascript">
	function cambiar(objeto){
		valor= objeto.options[objeto.selectedIndex].value;
		location.href=('/historia/'+String(valor)+ '/');
	}
</script>

			</p>	
				<br>
				
				<br>

				<legend><B>Id Historia: </B> {{historia.pk}} 
				&nbsp;&nbsp;&nbsp;<B> Paciente:  </B> {{pedido.Paciente.Nombre}} {{pedido.Paciente.Apellido}}
				&nbsp;&nbsp;&nbsp;<B> Fecha de creación:  </B> {{pedido.Fecha}}
				&nbsp;&nbsp;&nbsp;<B> Fecha de pedido:  </B> {{pedido.Fecha_pedido}}
				&nbsp;&nbsp;&nbsp;<B> Cortesía:  </B> {{pedido.Cortecia}}
				&nbsp;&nbsp;&nbsp;<B> Médico solicitante:  </B> {{pedido.Medico.Nombre}} {{pedido.Medico.Apellido}}
				&nbsp;&nbsp;&nbsp;<B> Diagnóstico presuntivo: </B> {{pedido.Diagnostico_presuntivo}} 



				</legend>

					<br>
						<legend><B>Tipo de estudio:</B></legend><p>{{historia.TipoEstudio}}</p>
					<br>
						<legend><B>Campo:</B></legend><p align="justify">{{historia.Campo}}</p>
					<br>
						<legend><B>Conclusion:</B></legend><p align="justify">{{historia.Conclusion}}</p>
					<br>

					<br>
					<br>
					<br>
					<br>
        </div>
    </div>
</div>
<div class="container">
	<div class="col-md-12 col-xs-4 col-sm-6">
	<legend></legend>
	<button class="btn btn-primary btn-block" type="button" id="modificar_paciente"  onclick="window.location.href='/imprimir/{{ historia.pk }}'"><span class="glyphicon glyphicon-print"> Imprimir</span></button>
	<br>
	</div>
</div>
<br>
<br>

{% endblock contenido %}