{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}


<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-4 col-sm-6" >
			<br>
			<br>historias del paciente<br>
			{% for hist in  historias_paciente%}
						{{hist.pk}}
				{% endfor %}
				<br>historia actual<br>
				{{historia.pk}} 
					<br>
						Tipo de estudio{{historia.TipoEstudio}}
					<br>
						campo {{historia.Campo}}
					<br>
						conclusion{{historia.Conclusion}}
					<br>

					<br>
					<br>
					<br>
					<br>

						
        </div>
    </div>
</div>
{% endblock contenido %}