{% for field in form%}
{% load staticfiles %}

     {{field.label_tag}}
           
                {% if field.errors %}
       
                {{ field.errors|escape }}
       
                {% endif %}
          
            
            {{ field_for_label }}
       
            {{ field }}

            {% endfor %}
 
        <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="/resources/demos/style.css" rel="stylesheet">
                <script src="https://code.jquery.com/jquery-1.12.4.js">
                </script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
                </script>
                <script>
                    $( function() {
            $( "#id_Fecha_nacimiento" ).datepicker();
            $( "#id_Fecha_nacimiento" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
          } );
                </script>
            </link>
        </link>