{% for field in form%}
{% load staticfiles %}
<h4>
    {{field.label_tag}}
</h4>
{% if field.errors %}
<div class="alert alert-danger">
       {{ field.errors|escape }}
</div>
  {% endif %}
  {{ field_for_label }}
<div>
    {{ field }}

</div>
{% endfor %}

<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="/resources/demos/style.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.4.js">
        </script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
        </script>
        <script>
            $( function() {
    $( "#id_Fecha_nacimiento" ).datepicker();
    $( "#id_Fecha_nacimiento" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  } );
        </script>
    </link>
</link>

