
{% for field in form%}
{% load staticfiles %}

	<label>  {{field.label_tag}} </label>

		{% if field.errors %}
			<div class="alert alert-danger">
  				<label >{{ field.errors|escape }} </label>
			</div>
		{% endif %}
{{ field.id_for_label }}
		<div > {{ field }} </div>

{% endfor %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#id_Fecha_nacimiento" ).datepicker();
    $( "#id_Fecha_nacimiento" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  } );
  </script>

