{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

<div class="container">
  <div class="col-md-4">
    <form name="formulario_pacientes" method="post">
    <legend><h1><center>Crear / Actualizar Medico solicitante</center></h1></legend>
      <div class="form-group row" align="center">
        <div class="form-group">
          


            {% csrf_token %}

            {% include 'hcapp/form_template.html' %}   
            <br>
           <br>      
            <legend><button class="btn btn-primary btn-block"><i class="fa fa-user-md" style="font-size:25px;"></i> Aceptar </button></legend>
          <br>
          </div>
      </div>
    </form>
  </div>
      <!--****************ESTUDIOS POR MEDICOS SOLICITANTES***********************************-->            
</div>

{% endblock contenido %}