
{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

      <form action="" method="post" enctype="multipart/form-data" role="form">
	{% csrf_token %}	

{% include 'hcapp/form_template.html' %}	

	

				
				<button type="submit" class="btn btn-info">
						Agregar
					</button>
</form>





         <!-- CREAR PACIENTE -->

          <div class="container">
            <div class="row">
              <div class="col-md-4">
                
              </div>

              <div class="col-md-2">
                <div>
                  
                </div>
              </div>


              <div class="col-md-6">
                <div class="table responsive" align="center">
                    <table class="table" >
                            
                              <tr colspan="5" align="center"><h2>Ultimos Paciente</h2></tr>
                            
                        
                            <tr>
                                <th>Cédula</th>
                                <th>Edad</th>
                                <th>Paciente</th>
                                <th>Fecha</th>
                            </tr>
                        

                           <tr id="primera_fila_registro">
                           {% for paciente in ultimos  %}

                            <td>
                                    {{paciente.Cedula}}
                                </td>
                                <td>
                                    {{paciente.edad}}
                                </td>
                                <td>
                                    {{paciente.Nombre}} {{paciente.Apellido}}
                                </td>
                                <td>
                                    {{paciente.Fecha}}
                                </td>
                                <td>
                                    <button class="btn btn-default" type="button" id="ver_paciente" onclick="window.location.href='/editar/paciente/{{paciente.pk}}' "> Ver </button>

                                    <button class="btn btn-default" type="button" id="modificar_paciente" onclick="window.location.href='/editar/paciente/{{paciente.pk}}' "> Modificar </button>

                                    <button class="btn btn-default" type="button" id="eliminar_paciente" onclick="window.location.href='/eliminar/paciente/{{paciente.pk}}' "
                                    > Eliminar </button>
                                </td>
                             
                           {% endfor %}
                               
                            </tr>

                        
                    </table>                   
                </div>
              </div>
            </div>
          </div>

      

    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugin.js"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="js/scripts.js"></script>
  



{% endblock contenido %}