{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container" >
  <div class="row">
    <div class="col-md-3 col-xs-4 col-sm-6">
      <form method="post" action="{% url 'hcapp:Crear-Pedidos' %}">
        <h2 align="center">Registro de Pedidos</h2>

          {% csrf_token %}


          {% for field in form%}

          <label> {{field.label_tag}} </label>

            {% if field.errors %}
              <div class="alert alert-danger">
                  <label >{{ field.errors|escape }} </label>
              </div>
          {% endif %}

        {% if field.name == 'Estudio' %}
        {{drop_form.as_p}}
        {% endif %}
            <div > {{ field }} </div>
        {% endfor %}
        <br>
        <input type="submit" class="btn btn-primary btn-block" name="enviar">
        <br>
    </form>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

    <script type="text/javascript">
      
          $(function() {
      $("#id_Paciente").autocomplete({
        source: '/api/paciente/',
        minLength: 2,
      });
    });
          $(function() {
      $("#id_Medico").autocomplete({
        source: '/api/medico-solicitante/',
        minLength: 2,
      });
    });
          $(function() {
      $("#id_Estudio").autocomplete({
        source: '/api/tipo-estudio/',
        minLength: 2,
      });
    });
    </script>

    <script !src="">
    $(document).ready(function(){
        $('select[name=categoria]').change(function(){
            categoria_id = $(this).val();
            request_url = '/GetSubcategoria/' + categoria_id + '/';
            $.ajax({
                url: request_url,
                success: function(data){
                    $.each(data, function(index, text){
                        $('select[name=subcategoria]').append(
                             $('<option></option>').val(index).html(text)
                         );
                    });
                }
            });
            return false;
        })
    });

    $(document).ready(function(){
        $('select[name=subcategoria]').change(function(){
            subcategoria_id = $(this).val();
            request_url = '/GetEstudio/' + subcategoria_id + '/';
            $.ajax({
                url: request_url,
                success: function(data){
                    $.each(data, function(index, text){
                        $('select[name=estudio]').append(
                             $('<option></option>').val(index).html(text)
                         );
                    });
                }
            });
            return false;
        })
    });

      </script>
      </form>
    </div>
      <div class="col-md-9 col-xs-8 col-sm-6">
        <div class="table-responsive" align="center">
          <table class="table Contextual Classes" >
                          <thead>
                              <tr colspan="5" align="center"><h2>Pedidos</h2></tr>                       
                            <tr>
                                <th><h3 align="center"> Paciente </h3></th>
                                <th><h3 align="center"> Médico </h3></th>
                                <th><h3 align="center"> Fecha del Pedido </h3></th>
                                <th><h3 align="center"> Diagnostico </h3></th>
                                
                            </tr>
                          </thead>
                              {% for pedido in ultimos_pedidos %}
                          <tbody>
                           <tr>                  
                                <td class="warning">
                                   {{pedido.pk}} 
                                </td>

                                <td class="danger" align="center">
                                    {{pedido.Medico.Nombre}}
                                </td>
                                
                                <td class="success">
                                    {{pedido.Nombre }}  {{pedido.Apellido}}
                                </td>
                  
                                <td class="info">
                                  {{pedido.Fecha_nacimiento}}
                                </td>
                              </tr>
                            </tbody>
                            {% endfor %}
                    </table>                   
                </div>
              </div>
  </div>
</div>

<script type="text/javascript">
      
    $( "#mensaje" ).click(function() {

    var cedulas=[];

    {% for pedido in ultimos %}
    cedulas.push({{paciente.Cedula}});
    {% endfor %}

      alert( cedulas[1]);
    });

</script>


<script type="text/javascript">
  
  var estudioDrop= document.getElementById("id_estudio");
  var Estudio= document.getElementById("id_Estudio");

  estudioDrop.onchange= function() {
    Estudio.value=estudioDrop.options[estudioDrop.selectedIndex].label;
}

</script>
          


{% endblock contenido %}