{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

<script type="text/javascript" src="{% static 'js/jquery1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>


<div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-4 col-sm-6">
      <form method="post" action="{% url 'hcapp:Crear-Pedidos' %}">
        <h2 align="center">Registro de Pedidos</h2>

          {% csrf_token %}


          {% for field in form%}

          <label> {{field.label_tag}} </label>

            {% if field.errors %}
              <div class="alert alert-danger">
                  <label >{{ field.errors|escape }} </label>
              </div>
          {% endif %}

          {% if field.name == 'Paciente' %}
        <input title="Crear nuevo Paciente" type="button" class="btn btn-default" value="+" onclick="location.href = '{% url 'hcapp:Crear-Paciente' %}'">
        {% endif %}

        {% if field.name == 'Medico' %}
        <input title="Crear nuevo Médico" type="button" class="btn btn-default" value="+" onclick="location.href = '{% url 'hcapp:Crear-Medico' %}'">
        {% endif %}

        {% if field.name == 'Estudio' %}
        {{drop_form.as_p}}
        {% endif %}
            <div > {{ field }} </div>
        {% endfor %}




        <br>
        <input type="submit" class="btn btn-primary btn-block" name="enviar">
        <br>
    </form>



    <script type="text/javascript">
      
          $(function() {
      $("#id_Paciente").autocomplete({
        source: '/api/paciente/',
        minLength: 2,
      });
    });
          $(function() {
      $("#id_Medico").autocomplete({
        source: '/api/medico-solicitante/',
        minLength: 2,
      });
    });
          $(function() {
      $("#id_Estudio").autocomplete({
        source: '/api/tipo-estudio/',
        minLength: 2,
      });
    });
    </script>

    <script !src="">
    $(document).ready(function(){
        $('select[name=categoria]').change(function(){
            categoria_id = $(this).val();
            request_url = '/GetSubcategoria/' + categoria_id + '/';
            $.ajax({
                url: request_url,
                success: function(data){
                    $.each(data, function(index, text){
                        $('select[name=subcategoria]').append(
                             $('<option></option>').val(index).html(text)
                         );
                    });
                }
            });
            return false;
        })
    });

    $(document).ready(function(){
        $('select[name=subcategoria]').change(function(){
            subcategoria_id = $(this).val();
            request_url = '/GetEstudio/' + subcategoria_id + '/';
            $.ajax({
                url: request_url,
                success: function(data){
                    $.each(data, function(index, text){
                        $('select[name=estudio]').append(
                             $('<option></option>').val(index).html(text)
                         );
                    });
                }
            });
            return false;
        })
    });

      </script>
      </form>
    </div>
      <div class="col-md-9 col-xs-8 col-sm-6">
        <div class="table-responsive" align="center">
          <table class="table Contextual Classes" >
                          <thead>
                              <tr colspan="6" align="center"><center><h2><i class="fa fa-hospital-o" style="font-size:40px;color: red"></i> Ultimos Pedidos</h2></center></tr>                       
                            <tr>
                                <th align="center"> N° de Pedido </th>
                                <th align="center"> Cédula Paciente </th>
                                <th align="center"> Médico </th>
                                <th align="center"> Paciente </th>
                                <th align="center"> Fecha de Nacimiento </th>
                                <th align="center"> Fecha del Pedido </th>
                            </tr>
                          </thead>
                              {% for pedido in ultimos_pedidos %}
                          <tbody>
                           <tr>                  
                                <td class="success">
                                   {{pedido.pk}} 
                                </td>

                                <td class="info">
                                   {{pedido.Paciente.Cedula}} 
                                </td>

                                <td class="danger">
                                    {{pedido.Medico.Nombre}} {{pedido.Medico.Apellido}}
                                </td>
                                
                                <td class="success">
                                    {{pedido.Paciente.Nombre }}  {{pedido.Paciente.Apellido}}
                                </td>
                  
                                <td class="info">
                                  {{pedido.Paciente.Fecha_nacimiento}}
                                </td>

                                <td class="warning">
                                  {{pedido.Fecha_pedido}}
                                </td>
                            </tr>
                            </tbody>
                            {% endfor %}
                    </table>                   
                </div>
            </div>
        <br>
  </div>
</div>
<br>
<script type="text/javascript">
      
    $( "#mensaje" ).click(function() {

    var cedulas=[];

    {% for pedido in ultimos %}
    cedulas.push({{paciente.Cedula}});
    {% endfor %}

      alert( cedulas[1]);
    });

</script>


<!--   ESCRIPT AYUDA PARA GENERAR LOS REPORTES 
<div id="mensaje">
  prueba
</div>

<script type="text/javascript">
      
    $( "#mensaje" ).click(function() {
    var cedulas=[];
    {% for pedido in ultimos_pedidos %}
    cedulas.push({{pedido.pk}});
    {% endfor %}
      alert( cedulas);
    });
</script>
-->


<script type="text/javascript">
  
  var estudioDrop= document.getElementById("id_estudio");
  var Estudio= document.getElementById("id_Estudio");

  estudioDrop.onchange= function() {
    Estudio.value=estudioDrop.options[estudioDrop.selectedIndex].label;
}

</script>
          
      <script>
        $( function() {
          $( "#id_Fecha" ).datepicker();
          $( "#id_Fecha" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
        });
      </script>

{% endblock contenido %}