<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>pedido</title>


    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/estilo_distribucion_cntenido.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css_boot/bootstrap.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="images/favicon/apple-touch-icon.png">
    
   
 </head>

  <body>
        <div id="contenedor">
            <header>
                <nav>
                    <ul>
                        <img src="C:/disertacion/Disertacion/proyecto_tesis/images/logo/logo.jpg" class="rounded float-right" alt="Cinque Terre" width="100" height="80" align="center">
                        <li><a href="index.html"><span class="color1"><i class="icon icon-home"></i></span>Inicio</a></li>
                        <li><a href="pacientes.html"><span class="color2"><i class="icon icon-man"></i></span>Paciente</a></li>
                        <li><a href="pedido.html"><span class="color3"><i class="icon icon-file-text2"></i></span>Pedido</a></li>
                        <li><a href="historias.html"><span class="color4"><i class="icon icon-files-empty"></i></span>Historias</a></li>
                        <li><a href="estudios.html"><span class="color5"><i class="icon icon-profile"></i></span>Estudios</a></li>
                        <li><a href="reportes.html"><span class="color6"><i class="icon icon-folder-open"></i></span>Reportes</a></li>
                    </ul>
                </nav> 
            </header>  
        </div>


        <div class="col-md-6">
                <div class="table responsive" align="center">
                    <table class="table" >
                            
                              <tr colspan="5" align="center"><h2>Ultimos Pedidos</h2></tr>
                            
                        
                            <tr>
                                <th>Cédula</th>
                                <th>Edad</th>
                                <th>Paciente</th>
                                <th>Doctor</th>
                                <th>Fecha</th>
                            </tr>
                        

                           <tr id="primera_fila_registro">
                                <td>
                                    1
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                  5
                                </td>
                                <td>
                                    <button class="btn btn-default" type="button" id="ver_paciente"> Ver </button>
                                    <button class="btn btn-default" type="button" id="modificar_paciente"> Modificar </button>
                                    <button class="btn btn-default" type="button" id="eliminar_paciente"> Eliminar </button>
                                </td>
                            </tr>

                            <tr id="segunda_fila_registro">
                                <td>
                                    1
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                  5
                                </td>
                                <td>
                                    <button class="btn btn-default" type="button" id="ver_paciente"> Ver </button>
                                    <button class="btn btn-default" type="button" id="modificar_paciente"> Modificar </button>
                                    <button class="btn btn-default" type="button" id="eliminar_paciente"> Eliminar </button>
                                </td>
                            </tr>
                        
                    </table>                   
                </div>
              </div>
            
    <!--

        <div id="Main_pedido">
            <form name="formulario_pedido_examen">
                <table border="0">
                <tr>
                    <td colspan="3" align="center">Registro de Examen Médico</td>
                </tr>
                    <tr>
                        <td>Categorías</td>
                        <td>
                            <select name="categoria_principal">
                                <option value="1">Tomografia Multicorte 3D</option>>
                            </select>
                        </td>

                         <tr>
                            <td>Sub_Categorías</td>
                            <td>
                                <select name="sub_categoria">
                                    <option value="1">Cabeza</option>
                                    <option value="2">Abdomen</option>
                                    <option value="3">especial</option>
                                    <option value="4">Extremindades Superiores e INferiores</option>
                                    <option value="5">Cuello</option>
                                    <option value="6">Tórax</option>
                                    <option value="7">Columna</option>
                                </select> 
                            </td>
                        </tr>
                        <tr>
                            <td>Examen</td>
                            <td>
                                <select name="examen">
                                    <option value="1">Cerebro Simple</option>
                                    <option value="1">Cerebro Simple y Contrastado</option>
                                    <option value="1">Cerebro Simple con Ventana Osea</option>
                                    <option value="1">Hipófisis o Silla Turca</option>
                                    <option value="1">Hipófisis o Silla Turca Contrastada</option>
                                    <option value="1">Macizo Facial / Huesos Nasales</option>
                                    <option value="1">Macizo Facial / Reconstruido 3D</option>
                                    <option value="1">Maxilar Superior e Inferior</option>
                                    <option value="1">Maxilar Sup-inf Reconstruido / Dental 3D</option>
                                    <option value="1">Oido o Conducto Auditivo</option>
                                    <option value="1">Oido o Conducto Auditivo Contrastado</option>
                                    <option value="1">Oido o Conducto Auditivo Reconstrido 3D</option>
                                    <option value="1">Órbitas Simples</option>
                                    <option value="1">Órbitas Contrastado</option>
                                    <option value="1">Senos Paranasales Simple</option>
                                    <option value="1">Senos Paranasales Simple Reconstruido 3D</option>
                                    <option value="1">Glándulas Salivales</option>
                                    <option value="">//******************************************//</option>
                                    <option value="2">Abdomen Superior o Inferior Simple</option>
                                    <option value="2">Abdomen Superior o Inferior Contrastado</option>
                                    <option value="2">Abdomen Total Simple</option>
                                    <option value="2">Abdomen Total Simple y Contrastado</option>
                                    <option value="2">Pelvis</option>
                                    <option value="3">//******************************************//</option>
                                    <option value="3">Urotac</option>
                                    <option value="3">Pielotac</option>
                                    <option value="3">OTROS</option>
                                    <option value="4">//******************************************//</option>
                                    <option value="4">Articulaciones</option>
                                    <option value="4">Articulaciones con Reconstrucción 3D</option>
                                    <option value="4">Escanograma</option>
                                    <option value="">//******************************************//</option>
                                    <option value="5">Cuello Simple</option>
                                    <option value="5">Cuello Contrastado</option>
                                    <option value="">//******************************************//</option>
                                    <option value="6">Tórax Simple</option>
                                    <option value="6">Tórax Contrastado</option>
                                    <option value="6">Tórax Alta Resolución</option>
                                    <option value="">//******************************************//</option>
                                    <option value="7">Columna Cervical</option>
                                    <option value="7">Columna Cervical Reconstruida 3D</option>
                                    <option value="7">Columna Dorsal</option>
                                    <option value="7">Columna Dorsal Reconstruida 3D</option>
                                    <option value="7">Columna Lumbo-Sacra</option>
                                    <option value="7">Columna Lumbo-Sacra Reconstruida 3D</option>
                                    <option value="7">Columna Total</option>
                                    <option value="7">Columna Total Reconstruida</option>
                                </select>
                            </td>
                        </tr>       
                        <td>
                            <input type="text" name="Observación" placeholder="Observación ">
                            <br>
                        </td>

                    <tr>
                        <td colspan="3" align="center">
                            <input type="submit" name="btn_enviar" value=" Enviar ">
                            <br>
                        </td>
                    </tr>

                    </tr>

                </table>
                
            </form>
            
        </div>

        <div id="Main_pedido2">
            <form name="formulario_pedido_examen2">
                <table border="1">
                <tr>
                    <td colspan="7" align="center">Registro de Examen Médico</td>
                </tr>
                    <tr>
                        <td>Categorías</td>
                        <td>
                            <input type="checkbox" name="op_categoria" value="1">  Tomografia Multicorte 3D
                        </td>
                        
                            <td>Examen</td>
                            <td>
                                    <h2>Cabeza</h2><br>
                                    <input type="checkbox" name="Examen" value="1"> Cerebro Simple<br>
                                    <input type="checkbox" name="Examen" value="1"> Cerebro Simple y Contrastado<br>
                                    <input type="checkbox" name="Examen" value="1"> Cerebro Simple con Ventana Osea<br>
                                    <input type="checkbox" name="Examen" value="1"> Hipófisis o Silla Turca<br>
                                    <input type="checkbox" name="Examen" value="1"> Hipófisis o Silla Turca Contrastada<br>
                                    <input type="checkbox" name="Examen" value="1"> Macizo Facial / Huesos Nasales<br>
                                    <input type="checkbox" name="Examen" value="1"> Macizo Facial / Reconstruido 3D<br>
                                    <input type="checkbox" name="Examen" value="1"> Maxilar Superior e Inferior<br>
                                    <input type="checkbox" name="Examen" value="1"> Maxilar Sup-inf Reconstruido / Dental 3D<br>
                                    <input type="checkbox" name="Examen" value="1"> Oido o Conducto Auditivo<br>
                                    <input type="checkbox" name="Examen" value="1"> Oido o Conducto Auditivo Contrastado<br>
                                    <input type="checkbox" name="Examen" value="1"> Oido o Conducto Auditivo Reconstrido 3D<br>
                                    <input type="checkbox" name="Examen" value="1"> Órbitas Simples<br>
                                    <input type="checkbox" name="Examen" value="1"> Órbitas Contrastado<br>
                                    <input type="checkbox" name="Examen" value="1"> Senos Paranasales Simple<br>
                                    <input type="checkbox" name="Examen" value="1"> Senos Paranasales Simple Reconstruido 3D<br>
                                    <input type="checkbox" name="Examen" value="1"> Glándulas Salivales<br>
                                    <h2>Abdomen</h2><br>
                                    <input type="checkbox" name="Examen" value="2"> Abdomen Superior o Inferior Simple<br>
                                    <input type="checkbox" name="Examen" value="2"> Abdomen Superior o Inferior Contrastado<br>
                                    <input type="checkbox" name="Examen" value="2"> Abdomen Total Simple<br>
                                    <input type="checkbox" name="Examen" value="2"> Abdomen Total Simple y Contrastado<br>
                                    <input type="checkbox" name="Examen" value="2"> Pelvis<br>
                                    <h2>Especial</h2><br>
                                    <input type="checkbox" name="Examen" value="3"> Urotac<br>
                                    <input type="checkbox" name="Examen" value="3"> Pielotac<br>
                                    <input type="checkbox" name="Examen" value="3"> OTROS<br>
                                    <h2>Extremindades Superiores e Inferiores</h2><br>
                                    <input type="checkbox" name="Examen" value="4"> Articulaciones<br>
                                    <input type="checkbox" name="Examen" value="4"> Articulaciones con Reconstrucción 3D<br>
                                    <input type="checkbox" name="Examen" value="4"> Escanograma<br>
                                    <h2>Cuello</h2><br>
                                    <input type="checkbox" name="Examen" value="5"> Cuello Simple<br>
                                    <input type="checkbox" name="Examen" value="5"> Cuello Contrastado<br>
                                    <h2>Tórax</h2><br>
                                    <input type="checkbox" name="Examen" value="6"> Tórax Simple<br>
                                    <input type="checkbox" name="Examen" value="6"> Tórax Contrastado<br>
                                    <input type="checkbox" name="Examen" value="6"> Tórax Alta Resolución<br>
                                    <h2>Columna</h2><br>
                                    <input type="checkbox" name="Examen" value="7"> Columna Cervical<br>
                                    <input type="checkbox" name="Examen" value="7"> Columna Cervical Reconstruida 3D<br>
                                    <input type="checkbox" name="Examen" value="7"> Columna Dorsal<br>
                                    <input type="checkbox" name="Examen" value="7"> Columna Dorsal Reconstruida 3D<br>
                                    <input type="checkbox" name="Examen" value="7"> Columna Lumbo-Sacra<br>
                                    <input type="checkbox" name="Examen" value="7"> Columna Lumbo-Sacra Reconstruida 3D<br>
                                    <input type="checkbox" name="Examen" value="7"> Columna Total<br>
                                    <input type="checkbox" name="Examen" value="7"> Columna Total Reconstruida<br>
                                </select>
                            </td>
                     <tr>        
                        <td colspan="7" align="center">
                            <input type="text" name="Observación" placeholder="Observación ">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" align="center">
                            <input type="submit" name="btn_enviar" value=" Enviar ">
                            <br>
                        </td>
                    </tr>

                    </tr>
                </table>
            </form>
        </div>

     -->   

    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugin.js"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="js/scripts.js"></script>
  
  
  </body>
 </html>