{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

         <div class="container">
            <div class="row">
              <div class="col-md-12">
                        <legend><h1>Registro de Placas Desechadas</h1></legend>
                                <form action="{% url 'hcapp:Registrar-Placa' %}" method="POST"> 
                                {% csrf_token %}
                                {% include 'hcapp/form_template.html' %}    
                          
                          <input type="submit" value="Registrar" class="btn btn-primary btn-block" >
                          </form>
              </div>
            </div>
          </div>




{% endblock contenido %}
