{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

         <div class="container">
            <div class="row">
              <div class="col-md-12">
                <form name="formulario_pacientes" method="post">
                  <div class="form-group row">
                      <h1>Registro de Placas Desechadas</h1>
                        <div>      
                                {% csrf_token %}
                                {% include 'hcapp/form_template.html' %}         
                        </div>
                        <br>
                          <button class="btn btn-primary btn-block"> Registrar </button>
                  </div>
                </form>
              </div>
              <div class="col-md-9">
                <div class="table-responsive" align="center">
                                  
                </div>
              </div>
            </div>
          </div>




{% endblock contenido %}
