{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

         <div class="container">
            <div class="row">
              <div class="col-md-12">
                        <legend><h1>Registro de Placas Desechadas</h1></legend>
                                {% csrf_token %}
                                {% include 'hcapp/form_template.html' %}    
                          <button class="btn btn-primary btn-block"><i class="fa fa-heartbeat" style="font-size:25px"></i> Registrar </button>
              </div>
            </div>
          </div>




{% endblock contenido %}
