
{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
 
<script type="text/javascript" src="{% static "DataTables/datatables.min.js" %}"> </script>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-8 col-sm-6">
        <div class="form-group row">
          <h1>Historias Clínicas</h1>
          <br>
            <table id="example" class="table Contextual Classes" cellspacing="0" width="100%" align="center">
                    <thead>
                        <tr class="danger">
                            <th>Id</th>
                            <th>Pedido</th>
                            <th>Médico</th>
                            <th>Paciente</th>
                            <th>Tipo estudio.</th>
                            <th>Fecha Estudio</th>
                            <th>Fecha Pedido</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="success">
                            <th>Id</th>
                            <th>Pedido</th>
                            <th>Médico</th>
                            <th>Paciente</th>
                            <th>Tipo estudio.</th>
                            <th>Fecha Estudio</th>
                            <th>Fecha Pedido</th>
                        </tr>
                    </tfoot>
                </table>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function() {
        $('#example').DataTable( {
            "ajax": '/api/historias/'
        } );
    } );

</script>

 <!--  ///////////////////////////////////////////////////  -->



{% endblock contenido %}