{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}


<div class="container">
    <div class="row">
        <!--***************************************************-->


        <h1> {% if pedidos %} Cortecias {% endif %}



        </h1>
        <div class="col-md-6 col-xs-4 col-sm-6" align="left">
					{% for pedido in pedidos %}
					
					{{pedido.Fecha}}

					{% endfor %}
		</div>
		<!--***************************************************-->
        <div class="col-md-6 col-xs-4 col-sm-6" align="left">
				{% for paciente in pacientes %}
					
				{{paciente.Edad}}

				{% endfor %}
		</div>
		<!--***************************************************-->
		 <div class="col-md-6 col-xs-4 col-sm-6" align="left">


		</div>
		<!--***************************************************-->
    </div>
</div>
{% endblock contenido %}
