{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-4 col-sm-6" align="center">
        	<form method="post" action="{% url 'hcapp:Reporte-Cortecia' %}">
				{{form.as_p}}
				{% csrf_token %}
				<input type="submit" value="Cortesías" class="btn btn-warning btn-lg">

				<input type="button"class="btn btn-primary btn-lg" onclick="this.form.action='{% url 'hcapp:Reporte-Estudios' %}'; this.form.submit(); return false;" value="Estudios"> <br><br>

				<input type="button" class="btn btn-success btn-lg" onclick="this.form.action='{% url 'hcapp:Reporte-Medicos' %}'; this.form.submit(); return false;" value="Médicos"> 


				<input type="button" class="btn btn-danger btn-lg" onclick="this.form.action='{% url 'hcapp:Reporte-Pacientes' %}'; this.form.submit(); return false;" value="Pacientes"> <br><br>


				<input type="button" class="btn btn-info btn-lg" onclick="this.form.action='{% url 'hcapp:Reporte-Placas' %}'; this.form.submit(); return false;" value="Placas">

			</form>
        </div>
        <!--***************************************************-->
        
		<!--***************************************************-->
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-4 col-sm-6" >
			<br>

			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  			<link rel="stylesheet" href="/resources/demos/style.css">

			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		  	
		  	<script>
		  $( function() {
		  	$( "#id_Fecha_inicial" ).datepicker();
		    $( "#id_Fecha_inicial" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
		    $( "#id_Fecha_final").datepicker();
		    $( "#id_Fecha_final").datepicker( "option", "dateFormat", "yy-mm-dd" );
		  } );
		  </script>
       </div>
    </div>
</div>


{% endblock contenido %}

