{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}


<div class="container">
	<div class="col-md-12">
	    <div class="row">
	        <!--***************************************************-->
	        	{% if pedidos %}
	        	<h1 align="center">  Cortecias </h1>
	        	  <div class="col-md-6">
				    <table class="table Contextual Classes" border="0">
				      <tr colspan="4"><center><h1>Ultimos Paciente</h1></center></tr>
				      <thead>
				        <tr class="danger">
				          <th>Nombre del Paciente  </th>
				          <th>Fecha del pedido </th>
				        </tr>
				      </thead>
				       {% for pedido in pedidos %}
				      <tbody>
				        <tr>
				          <td>
				            {{pedido.Paciente.Nombre}} {{pedido.Paciente.Apellido}}
				          </td> 

				          <td>
				            {{pedido.Fecha}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				  				<div class="col-md-12">
  						<div id="canvas-container" style="width:50%;">
							<canvas id="chart" width="500" height="350"></canvas>
						</div>
  				</div>

				<script type="text/javascript">
					$(document).ready(function(){
						var datos = {
							type: "pie",
							data : {
								datasets :[{
									data : [
										5,
										10,
										40,
										12,
										23,
									],
									backgroundColor: [
										"#F7464A",
										"#46BFBD",
										"#FDB45C",
										"#949FB1",
										"#4D5360",
									],
								}],
								labels : [
									"Datos 1",
									"Datos 2",
									"Datos 3",
									"Datos 4",
									"Datos 5",
								]
							},
							options : {
								responsive : true,
							}
						};

						var canvas = document.getElementById('chart').getContext('2d');
						window.pie = new Chart(canvas, datos);
					/*
						setInterval(function(){
							datos.data.datasets.splice(0);
							var newData = {
								backgroundColor : [
									"#F7464A",
									"#46BFBD",
									"#FDB45C",
									"#949FB1",
									"#4D5360",
								],
								data : [getRandom(), getRandom(), getRandom(), getRandom(), getRandom()]
							};

							datos.data.datasets.push(newData);

							window.pie.update();

						}, 5000);



						function getRandom(){
							return Math.round(Math.random() * 100);
						}
					*/

					});
				</script>

  				{% endif %}


			<!--****************ESTUDIOS POR MEDICOS SOLICITANTES***********************************-->
			{% if medicos %}
	        	
	        	  <div class="col-md-8">
				    <table class="table Contextual Classes" border="0">
				      
				      <thead>
				      <tr><h1 align="center">  Medicos </h1></tr>
				        <tr class="danger">
				          <th>Médico </th>
				          <th>Estudios realizados </th>
				        </tr>
				      </thead>
				       {% for medico in medicos %}
				      <tbody>
				        <tr>
				          <td>
				            {{medico.Medico__Nombre}} {{medico.Medico__Apellido}}
				          </td> 

				          <td>
				            {{medico.cantidad}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				<div class="col-md-12">
  						<div id="canvas-container" style="width:50%;">
							<canvas id="chart" width="500" height="350"></canvas>
						</div>
  				</div>

				<script type="text/javascript">
					$(document).ready(function(){
						var datos = {
							type: "pie",
							data : {
								datasets :[{
									data : [
										5,
										10,
										40,
									],
									backgroundColor: [
										"#F7464A",
										"#46BFBD",
										"#FDB45C",
									],
								}],
								labels : [
									"Datos 1",
									"Datos 2",
									"Datos 3",
								]
							},
							options : {
								responsive : true,
							}
						};

						var canvas = document.getElementById('chart').getContext('2d');
						window.pie = new Chart(canvas, datos);
					/* /////////////////// ESTA PARTE ES PARA HACERLO DINAMICO ////////////////////////

						setInterval(function(){
							datos.data.datasets.splice(0);
							var newData = {
								backgroundColor : [
									"#F7464A",
									"#46BFBD",
									"#FDB45C",
									"#949FB1",
									"#4D5360",
								],
								data : [getRandom(), getRandom(), getRandom(), getRandom(), getRandom()]
							};

							datos.data.datasets.push(newData);

							window.pie.update();

						}, 5000);



						function getRandom(){
							return Math.round(Math.random() * 100);
						}
					////////////////////////////////// FIN DINAMICO /////////////////////////////////////*/

					});
				</script>
					<div id="mensaje">
					  prueba
					</div>

					<script type="text/javascript">
					      
					    $( "#mensaje" ).click(function() {
					    var cantidad_med=[];
					    {% for medico in medicos %}
					    cantidad_med.push({{medico.cantidad}});
					    {% endfor %}
					      alert( cantidad_med);
					    });
					</script>

  				{% endif %}


  				<!--****************CANTIDADES POR TIPOS DE ESTUDIOS***********************************-->
			{% if historias %}
	        	
	        	  <div class="col-md-8">
				    <table class="table Contextual Classes" border="0">
				      
				      <thead>
				      <tr><h1 align="center">  Tipos de Estudios </h1></tr>
				        <tr class="danger">
				          <th>Médico </th>
				          <th>Estudios realizados </th>
				        </tr>
				      </thead>
				       {% for historia in historias %}
				      <tbody>
				        <tr>
				          <td>
				            {{historia.TipoEstudio}} 
				          </td> 

				          <td>
				            {{historia.cantidad}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				{% endif %}

  				<!--****************EDADES DE PACIENTES***********************************-->
			{% if pacientes %}
	        	
	        	  <div class="col-md-8">
				    <table class="table Contextual Classes" border="0">
				      
				      <thead>
				      <tr><h1 align="center">  Medicos </h1></tr>
				        <tr class="danger">
				          <th>Edad del paciente </th>
				          <th>cantidad </th>
				        </tr>
				      </thead>
				       {% for paciente in pacientes %}
				      <tbody>
				        <tr>
				          <td>
				            {{paciente.edad}}
				          </td> 

				          <td>
				            {{paciente.cantidad}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				{% endif %}


  				<!--****************PLACAS POR TIPO***********************************-->
			{% if placas %}
	        	  <div class="col-md-8">
				    <table class="table Contextual Classes" border="0">
				      
				      <thead>
	        	
				      <tr><h1 align="center">  Placas Desechadas </h1></tr>
				        <tr class="danger">
				          <th>Placa </th>
				          <th>Cantidad </th>
				        </tr>
				      </thead>
				       {% for placa in placas %}
				      <tbody>
				        <tr>
				          <td>
				            {{placa.Tipo}}
				          </td> 

				          <td>
				            {{placa.cantidad}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				{% endif %}

			<!--***************************************************-->
	    </div>
	</div>
</div>
{% endblock contenido %}