{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-4 col-sm-6" align="left">
        	<form method="post" action="{% url 'hcapp:Reporte-Cortecia' %}">
				{{form.as_p}}
				{% csrf_token %}
				<input type="submit" value="Cortesias" class="btn btn-warning btn-lg">
			</form>
        </div>
        <!--***************************************************-->
        <div class="col-md-2 col-xs-4 col-sm-6" align="left">
			<form method="post" action="{% url 'hcapp:Reporte-Cortecia' %}">
				
				<input type="submit" value="Estudios" class="btn btn-primary btn-lg">
			</form>
		</div>
		<!--***************************************************-->
		<div class="col-md-2 col-xs-4 col-sm-6" align="left">
			<form method="post" action="{% url 'hcapp:Reporte-Cortecia' %}">
				
				<input type="submit" value="Médico" class="btn btn-success btn-lg">
			</form>
		</div>
		<!--***************************************************-->
		<div class="col-md-2 col-xs-4 col-sm-6" align="left">
			<form method="post" action="{% url 'hcapp:Reporte-Cortecia' %}">
				
				<input type="submit" value="Pacientes" class="btn btn-danger btn-lg">
			</form>
		</div>
		<!--***************************************************-->
		<div class="col-md-2 col-xs-4 col-sm-6" align="left">
			<form method="post" action="{% url 'hcapp:Reporte-Cortecia' %}">
				
				<input type="submit" value="Placas" class="btn btn-info btn-lg">
			</form>
		</div>
		<!--***************************************************-->
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-4 col-sm-6" >
			<br>

			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  			<link rel="stylesheet" href="/resources/demos/style.css">

			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		  	
		  	<script>
		  $( function() {
		  	$( "#id_Fecha_inicial" ).datepicker();
		    $( "#id_Fecha_inicial" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
		    $( "#id_Fecha_final").datepicker();
		    $( "#id_Fecha_final").datepicker( "option", "dateFormat", "yy-mm-dd" );
		  } );
		  </script>
       </div>
    </div>
</div>


{% endblock contenido %}

