{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}


<div class="container">
<h4>
{% if fechainicial == none and fechafinal == none  %}
	 Reporte de todas las fechas
{% elif fechainicial == none   %}
	Reporte desde el inicio hasta {{fechafinal}}
{% else   %}
	Reporte desde {{fechainicial}} hasta {{fechafinal}}
{% endif %}
</h4>

<script type="text/javascript"> 
				       var datos_cantidad=[];
				       var datos_label=[];
</script>
 

	<div class="col-md-12">

	    <div class="row">
	        <!--***************************************************-->
	        	{% if pedidos %}
	        	<h1 align="center">  Cortesías </h1>
	        	  <div class="col-md-6">
				    <table class="table Contextual Classes" border="0">
				      <tr colspan="4"><center><h1>Otorgadas</h1></center></tr>
				      <thead>
				        <tr class="danger">
				          <th>Nombre del Paciente  </th>
				          <th>Fecha del pedido </th>
				        </tr>
				      </thead>
				       {% for pedido in pedidos %}
				      <tbody>
				        <tr>
				          <td>
				            {{pedido.Paciente.Nombre}} {{pedido.Paciente.Apellido}}
				          </td> 

				          <td>
				            {{pedido.Fecha}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				  				

  				{% endif %}


			<!--****************ESTUDIOS POR MEDICOS SOLICITANTES***********************************-->
			{% if medicos %}
	        	
	        	  <div class="col-md-8">
				    <table class="table Contextual Classes" border="0">
				      
				      <thead>
				      <tr><h1 align="center">  Medicos </h1></tr>
				        <tr class="danger">
				          <th>Médico </th>
				          <th>Estudios realizados </th>
				        </tr>
				      </thead>
				      

				       {% for medico in medicos %}
				       <script type="text/javascript"> 
				       datos_cantidad.push({{ medico.cantidad}});
				        </script>

				        <script type="text/javascript"> 
				        var nombre= "{{ medico.Medico__Apellido }} {{medico.Medico__Nombre}} "
				        datos_label.push(String(nombre));
				        </script>

				      <tbody>
				        <tr>
				          <td>
				            {{medico.Medico__Nombre}} {{medico.Medico__Apellido}}
				          </td> 

				          <td>
				            {{medico.cantidad}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				

  				{% endif %}


  				<!--****************CANTIDADES POR TIPOS DE ESTUDIOS***********************************-->
			{% if historias %}
	        	
	        	  <div class="col-md-8">
				    <table class="table Contextual Classes" border="0">
				      
				      <thead>
				      <tr><h1 align="center">  Tipos de Estudios </h1></tr>
				        <tr class="danger">
				          <th>Médico </th>
				          <th>Estudios realizados </th>
				        </tr>
				      </thead>
				       {% for historia in historias %}
				        <script type="text/javascript"> 
				       datos_cantidad.push({{ historia.cantidad}});
				        </script>

				        <script type="text/javascript"> 
				        var nombre= "{{ historia.TipoEstudio}} "
				        datos_label.push(String(nombre));
				        </script>
				      <tbody>
				        <tr>
				          <td>
				            {{historia.TipoEstudio}} 
				          </td> 

				          <td>
				            {{historia.cantidad}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				{% endif %}

  				<!--****************EDADES DE PACIENTES***********************************-->
			{% if pacientes %}
	        	
	        	  <div class="col-md-8">
				    <table class="table Contextual Classes" border="0">
				      
				      <thead>
				      <tr><h1 align="center">  Edades de los pacientes </h1></tr>
				        <tr class="danger">
				          <th>Edad del paciente </th>
				          <th>Número de Historias realizadas </th>
				        </tr>
				      </thead>
				       {% for paciente in pacientes %}
				       <script type="text/javascript"> 
				       datos_cantidad.push({{ paciente.cantidad}});
				        </script>

				        <script type="text/javascript"> 
				        var nombre= "{{paciente.edad}} "
				        datos_label.push(String(nombre));
				        </script>
				      <tbody>
				        <tr>
				          <td>
				            {{paciente.edad}}
				          </td> 

				          <td>
				            {{paciente.cantidad}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				{% endif %}


  				<!--****************PLACAS POR TIPO***********************************-->
			{% if placas %}
	        	  <div class="col-md-8">
				    <table class="table Contextual Classes" border="0">
				      
				      <thead>
	        	
				      <tr><h1 align="center">  Placas Desechadas </h1></tr>
				        <tr class="danger">
				          <th>Placa </th>
				          <th>Cantidad </th>
				        </tr>
				      </thead>
				       {% for placa in placas %}
				       <script type="text/javascript"> 
				       datos_cantidad.push({{ placa.cantidad}});
				        </script>

				        <script type="text/javascript"> 
				        var nombre= "{{placa.Tipo}} "
				        datos_label.push(String(nombre));
				        </script>
				      <tbody>
				        <tr>
				          <td>
				            {{placa.Tipo}}
				          </td> 

				          <td>
				            {{placa.cantidad}}
				          </td>       
				        </tr>
				      </tbody>
				      {% endfor %}
				    </table> 
  				</div>	
  				{% endif %}

			<!--***************************************************-->
	    </div>
	    <div class="col-md-12">
  						<div id="canvas-container" style="width:50%;">
							<canvas id="chart" width="500" height="350"></canvas>
						</div>
  				</div>

				<script type="text/javascript">
				    //alert(datos_label);
				    //alert(datos_cantidad);
				    
					$(document).ready(function(){
						var datos = {
							type: "pie",
							data : {
								datasets :[{
									data : datos_cantidad,
									backgroundColor: [
										"#F7464A",
									"#46BFBD",
									"#FDB45C",
									"#949FB1",
									"#4D5360",
									"#119FB1",
									"#9D3060",
									"#119FB1",
									"#36D560",
									"#229FB1",
									"#775360",
									],
								}],
								labels : datos_label
							},
							options : {
								responsive : true,
							}
						};

						var canvas = document.getElementById('chart').getContext('2d');
						window.pie = new Chart(canvas, datos);
					/* /////////////////// ESTA PARTE ES PARA HACERLO DINAMICO ////////////////////////

						setInterval(function(){
							datos.data.datasets.splice(0);
							var newData = {
								backgroundColor : [
									"#F7464A",
									"#46BFBD",
									"#FDB45C",
									"#949FB1",
									"#4D5360",
								],
								data : [getRandom(), getRandom(), getRandom(), getRandom(), getRandom()]
							};

							datos.data.datasets.push(newData);

							window.pie.update();

						}, 5000);



						function getRandom(){
							return Math.round(Math.random() * 100);
						}
					////////////////////////////////// FIN DINAMICO /////////////////////////////////////*/

					});
				</script>
	    <input type="button" value="Imprimir" class="btn btn-danger btn-lg" onclick="window.print();">
	</div>
</div>
{% endblock contenido %}