{% extends "hcapp/index.html" %}
{% load staticfiles %}

{% block contenido %}

<div class="container">
  <div class="col-md-12">
    {% if form.errors %}
      <center><p class="lead">Tu usuario o contraseña no son validos. Intente nuevamente</p></center>
    {% endif %}
    {% if next %}
      {% if user.is_authenticated %}
        <center><p class="lead">Tu cuenta no tiene permiso para visitar esta página. Por favor selecciona una cuenta con permisos .</p></center>
      {% else %}
        <center><p class="lead">Registrese para acceder a esta página.</p></center>
      {% endif %}
    {% endif %}
  </div>
</div>
<!--/////////////////////////////////////////////////////////////////////////-->

<div class="container">
  <div class="col-md-6" align="center">
      <table border="0" style="background-color:rgb(247, 244, 223);">
        <form method="post" name="Login_Form" class="form-signin" action="{% url 'hcapp:Login' %}" >
          <tr>
            <td colspan="2" align="center"><p class="lead">¡Bienvenido! Ingrese por favor</p></td>
          </tr>

          <tr>
          {% csrf_token %}
            <td> {{ form.username.label_tag }}</td>
            <td> {{ form.username }}</td>
          </tr>
          
          <tr><br>
            <td><br>{{ form.password.label_tag }}</td>
            <td><br>{{ form.password }}</td>
          </tr>

          <tr><br>
            <td colspan="2" align="center"><br>
              <input type="submit" class="btn btn-primary" value="login" />
              <input type="hidden" name="next" value="{{ next }}" />              
            </td>
          </tr>

        </form>
            {# Assumes you setup the password_reset view in your URLconf #}
      </table>
    </div>
    <div class="container">
      <div col-md-6>
          <div class="image">
              <img src=" {% static 'images/inicio/inicio.jpg' %}" class="rounded float-right" alt="Cinque Terre" width="500" height="350" align="center">
            </div>
      </div>
    </div>
    <br>
</div>
<br>
<!--/////////////////////////////////////////////////////////////////////////-->
            
{% endblock contenido %}