<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>login</title>

    <link rel="stylesheet" href="css/estilo_login.css">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    
 </head>
  <body>
    
	
	<!-- Preloader Start -->
    <div class="preloader">
	  <p>Procesando...</p>
     </div>
     <!-- Preloader End -->


     <!-- inicio heder -->
        <div class="contenedor-formulario">
          <div class="wrap">
            {% if form.errors %}
<p>Tu usuario o contraseña no son validos. Intente nuevamente</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene permiso para visitar esta página. Por favor selecciona una cuenta con permisos .</p>
    {% else %}
    <p>Registrese para acceder a esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'hcapp:Login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}

  
            

    <!-- Footer Start -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
               
          
            <div class="container">
             <div class="col-md-12 uipasta-credit">
                <p>Cedylabe   <a href="https://es-la.facebook.com/public/Cedylabe-Cia-Ltda" target="_blank" title="Cedylabe">Cedylabe</a></p>
                </div>
            </div>    
             </div>

        </div>
    </footer>
    <!-- Footer End -->
    
    
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="icon-arrow-up-circle"></i></a>
    <!-- Back to Top End -->
    
    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugin.js"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="js/scripts.js"></script>
  
  
  </body>
 </html>