*{
	/*background: #6F8D12;*/
	margin: 0;
	padding: 0;
}

body{
	font-family: monospace;
	background: #fff;
	color: #fff;
}

#contenedor{
	height: 100%;
	width: 100%;
	margin: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	background: #fff;
	display: table;
}


h1{ 
	text-align: center;
	font-size:50px;
	float: center;
	color: #fff;
	position: relative;
}

h1 span{
	position: absolute;
	right: 0px;
	width: 0px;
	background: #262121;
	border-left: 1px solid #fff;
	animation: maquina 4s infinite alternate steps(9);
}

@keyframes maquina{
	from{
		width: 60%;
	}
	to{
		width:40%;
	}
}

/* navegador menu*/
header{
	/*background: #fff;*/
	width: 100%;
	height: 100%;
}

header h1{
	font-size: 50px;
	text-align: center;
	line-height: 150px;
}


nav{
	margin: 20px auto;
	width: 90%;
	max-width: 1000px; /* ancho maximo sea 1000 pixeles*/
}

nav ul{
	list-style: none;
}

nav > ul{
	display: table;
	overflow: hidden;
	width: 100%;
	background:#fff;
	position: relative;
}

nav > ul > li{
	display: table-cell; /* todos tienen una posicion tabla celda*/
}

/* sub menu*/
nav > ul > li:hover > ul{
	display: block;
	height: 100%;
}

nav > ul > li > ul{
	display: block;
	position: absolute;
	background: orange;
	/*left: 0;
	right:0;*/
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}


nav > ul li a{
	color: #000;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-style: italic;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


nav > ul > li > a span{
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon{
	display: block;
	line-height: 60px;
}

nav > ul > li > a:hover > span{
	top: 0;
}

/*colores*/

nav ul li a .color1{
	background: #27CBF9;
}
nav ul li a .color2{
	background:orange;
}
nav ul li a .color3{
	background: #F54165;
}
nav ul li a .color4{
	background: #F3985F;
}
nav ul li a .color5{
	background: #D5F5E3;
}
nav ul li a .color6{
	background: #5F84F3;
}

table{
	display:table-cell;
	margin-left: 60px;
	margin-right: 40px;
	margin-top: 10px;
}


aside{
	width: 30%;
	height: 50%;
	background: green;
	margin-right: 2px;
	float: right;
}


/*login*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc;
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #000;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

