*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
}

nav{
	margin: 20px auto;
	width: 90%;
	max-width: 1000px;
}

nav ul{
	list-style: none;
}

nav > ul{
	display: table;
	overflow: hidden;
	width: 100%;
	background:#000;
	position: relative;
}

nav > ul > li{
	display: table-cell;
}

nav > ul li a{
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span{
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon{
	display: block;
	line-height: 60px;
}

nav > ul > li > a:hover > span{
	top: 0;
}

/*colores*/

nav ul li a .color1{
	background: 630910;
}
nav ul li a .color2{
	background: 360B6D;
}
nav ul li a .color3{
	background: 6D1E0B;
}
nav ul li a .color4{
	background: 0F8639;
}
nav ul li a .color5{
	background: 1218A4;
}